{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}


<form class = "col-6 mx-auto " method = "post">
    {% csrf_token %}

  <div class = "container mt-5 card p-3 shadow-lg" style = "max-width:700px">
    {% if messages %}
    {{ message.tags }}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
           {{ message }}
        {% endfor %}
      </div>
    {% endif %}
    

    <h2 class="mb-3">Sign Up</h2>
    <hr>
    <div class="mb-3" >
        <label for="first_name" class="form-label">First Name</label>
        <input required name = "first_name" type="text" class="form-control" >
      </div>

      <div class="mb-3" >
        <label for="last_name" class="form-label">Last Name</label>
        <input required name = "last_name" type="text" class="form-control" >
      </div>

    <div class="mb-3" >
      <label for="email" class="form-label">Email address</label>
      <input required name = "email" type="email" class="form-control" >
    </div>

    <div class="mb-3" >
      <label for="username" class="form-label">Username</label>
      <input required name = "username" type="username" class="form-control" >
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input required name = "password" type="password" class="form-control" >
    </div>
    <p>Already have an account.<a href="/login/">Login</a></p>
    <button type="submit" class=" mt-3 btn btn-primary">Submit</button>


  </form>
</div>
{% endblock %}